server {
    listen 80;
    server_name 192.168.56.3;

    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name 192.168.56.3;

    ssl_certificate     /etc/ssl/certs/app.crt;
    ssl_certificate_key /etc/ssl/private/app.key;

    location / {
        proxy_pass http://127.0.0.1:8000;
    }

    location /status {
        stub_status;
        allow 127.0.0.1;
        deny all;
    }
}
