[defaults]
inventory = inventories/production/hosts.yml
host_key_checking = False
stdout_callback = default
roles_path = roles

[privilege_escalation]
become = True
become_flags = ""
become_method = sudo